

#input {
    margin-left: 40%;
    margin-top: 5%;
    border-radius: 25px;
    border: 2px solid #007474;
    padding: 15px; 
    width: 200px;
    height: 15px;    
}

.serachButton{
    padding: 1%;
    border-radius: 10px;
    background-color: #c9e069;
    border: 2px solid #374327;
    cursor: pointer;
}
